body{

}

main {
    & .card{
    border-radius: 20px;
    border-color: orange;
    box-shadow: 7px 7px 5px lightgray;
    & h4{
       margin-top: 10px;
    
    }
    }
    & img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    & input{
        background-color: orange;
        border-radius: 20px;
        border: 1px solid gray;
    }
    
}
