
main {
    & .card{
    border-radius: 20px;
    border-color: orange;
    box-shadow: 7px 7px 5px lightgray;
    & h4{
       margin-top: 10px;
    }
    }
    & img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .valid{
        background-color: rgb(255, 208, 0);
        padding: 10px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

}